*{
    margin: 0;
    padding: 0;
}

/*Nav*/
.navbar{
    background-color: rgb(239, 240, 238);
}
.navbar a{
    font-family: serif;
    font-size: medium;
    font-weight: bold;
}

/*hoome*/
#home{
    height: 300px;
    background-image: url(images/trans.jpg);
    background-position: center;

}
#home-text{
    text-align: center;
}
#ee{
    padding-top: 90px;
    font-family:serif;
    color: rgb(255, 251, 0);
    font-weight: bold;
    font-size: 120px;
}
#home p {
    font-family: sans-serif;
    text-align: center;
    font-size: medium;
    color: antiquewhite;
}
/*Topics*/
#h4{
text-align: center;
padding-top: 50px;
font-family: serif;
font-weight:bold ;
}
.card{
    margin-bottom: 10px;
}
.card-body{
    align-self: center;
    align-items: center;
}
.title{
    text-align: center;
    font-family: serif;
    font-size: 20px;
}
#card-id{
    width: 90%;
    align-self: center;
}
.btn{
    width: 50%;
    align-self: center;
    margin-bottom: 5px;
}
#esas{
    background-color: beige;
}

.s{
    height: 300px;
}
